h1{
    color: red;
}
p, li{
    color: green;
}
ul{
    list-style-type: square;
}
li.romantic{
    color: purple;
    font-weight: bold;
}
li em{
    color: blue
}
span{
    color: red;
    font-weight: bold;
}
a:link{
    color: pink;
}
a:visited{
    color: blue;
}
a:hover {
    text-decoration: none;
}
body h1+p{
    color: yellow;
    background-color: black;
    padding: 5px;
}